Repository danieleschmidt/self-healing-pipeline-guard: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-build, validate-config, security-policy

Path conditions:
  docs-build: any of: ^(docs/|mkdocs\.yml), but not: (?x)^(
    \.git/|
    \.venv/|
    venv/|
    node_modules/|
    __pycache__/|
    \.pytest_cache/|
    \.mypy_cache/|
    \.ruff_cache/|
    build/|
    dist/|
    \.eggs/|
    .*\.egg-info/|
    logs/|
    tmp/|
    temp/
)$
  validate-config: any of: ^(config/|\.env\.example|pyproject\.toml)$, but not: (?x)^(
    \.git/|
    \.venv/|
    venv/|
    node_modules/|
    __pycache__/|
    \.pytest_cache/|
    \.mypy_cache/|
    \.ruff_cache/|
    build/|
    dist/|
    \.eggs/|
    .*\.egg-info/|
    logs/|
    tmp/|
    temp/
)$
  security-policy: any of: ^(healing_guard/|tests/).*\.py$, but not: (?x)^(
    \.git/|
    \.venv/|
    venv/|
    node_modules/|
    __pycache__/|
    \.pytest_cache/|
    \.mypy_cache/|
    \.ruff_cache/|
    build/|
    dist/|
    \.eggs/|
    .*\.egg-info/|
    logs/|
    tmp/|
    temp/
)$

feat(config, scaling): enhance configuration management and add optional scaling imports
  healing_guard/core/config.py
  healing_guard/core/scaling.py
Due: security-policy

feat(config, scaling): enhance configuration management and add optional scaling imports (#31)
  healing_guard/core/config.py
  healing_guard/core/scaling.py
Due: security-policy

feat(autonomous-sdlc): add full autonomous SDLC implementation with advanced features
  AUTONOMOUS_SDLC_COMPLETION_SUMMARY.md
  QUALITY_GATES_VALIDATION.md
  deploy/global-deployment-guide.md
  healing_guard/api/enhanced_api.py
  healing_guard/core/advanced_scaling.py
  healing_guard/core/exceptions.py
  healing_guard/core/failure_detector.py
  healing_guard/core/optimization.py
  healing_guard/core/quantum_planner.py
  healing_guard/core/resilience.py
  healing_guard/monitoring/enhanced_monitoring.py
  healing_guard/security/advanced_security.py
  tests/integration/test_basic_functionality.py
  tests/integration/test_enhanced_system.py
Due: security-policy

feat(autonomous-sdlc): add full autonomous SDLC implementation with advanced features (#32)
  AUTONOMOUS_SDLC_COMPLETION_SUMMARY.md
  QUALITY_GATES_VALIDATION.md
  deploy/global-deployment-guide.md
  healing_guard/api/enhanced_api.py
  healing_guard/core/advanced_scaling.py
  healing_guard/core/exceptions.py
  healing_guard/core/failure_detector.py
  healing_guard/core/optimization.py
  healing_guard/core/quantum_planner.py
  healing_guard/core/resilience.py
  healing_guard/monitoring/enhanced_monitoring.py
  healing_guard/security/advanced_security.py
  tests/integration/test_basic_functionality.py
  tests/integration/test_enhanced_system.py
Due: security-policy

feat(core): add advanced quantum-classical optimization and predictive scaling
  AUTONOMOUS_SDLC_FINAL_REPORT.md
  RESEARCH_FINDINGS_PUBLICATION.md
  healing_guard/core/failure_detector.py
  healing_guard/core/quantum_planner.py
  healing_guard/core/scaling.py
  simple_scaling_validation.py
  test_scaling_validation.py
  tests/unit/test_hybrid_quantum_optimization.py
  validation_simplified.py
Due: security-policy

feat(core): add advanced quantum-classical optimization and predictive scaling (#33)
  AUTONOMOUS_SDLC_FINAL_REPORT.md
  RESEARCH_FINDINGS_PUBLICATION.md
  healing_guard/core/failure_detector.py
  healing_guard/core/quantum_planner.py
  healing_guard/core/scaling.py
  simple_scaling_validation.py
  test_scaling_validation.py
  tests/unit/test_hybrid_quantum_optimization.py
  validation_simplified.py
Due: security-policy

feat(research-validation): add comprehensive research validation framework and reports
  QUALITY_GATES_REPORT.md
  RESEARCH_VALIDATION_SUMMARY_20250816_232631.md
  final_research_validation.py
  production_research_validation.py
  research_validation.py
  research_validation_simplified.py
Due: none

feat(research-validation): add comprehensive research validation framework and reports (#34)
  QUALITY_GATES_REPORT.md
  RESEARCH_VALIDATION_SUMMARY_20250816_232631.md
  final_research_validation.py
  production_research_validation.py
  research_validation.py
  research_validation_simplified.py
Due: none

feat(validation): add comprehensive autonomous validation and research reports
  AUTONOMOUS_SDLC_FINAL_EXECUTION_REPORT.md
  core_research_validation.py
  core_research_validation_report.json
  enhanced_research_validation.py
  final_autonomous_validation.py
  final_autonomous_validation_assessment.json
  final_comprehensive_validation.py
  final_comprehensive_validation_report.json
  final_research_validation.py
  healing_guard/core/advanced_scaling.py
  simple_validation.py
  system_enhancement.py
Due: security-policy

feat(validation): add comprehensive autonomous validation and research reports (#35)
  AUTONOMOUS_SDLC_FINAL_EXECUTION_REPORT.md
  core_research_validation.py
  core_research_validation_report.json
  enhanced_research_validation.py
  final_autonomous_validation.py
  final_autonomous_validation_assessment.json
  final_comprehensive_validation.py
  final_comprehensive_validation_report.json
  final_research_validation.py
  healing_guard/core/advanced_scaling.py
  simple_validation.py
  system_enhancement.py
Due: security-policy

feat(autonomous-sdlc): complete autonomous SDLC execution with progressive quality gates
  AUTONOMOUS_SDLC_COMPLETION.md
Due: none

feat(autonomous-sdlc): complete autonomous SDLC execution with progressive quality gates (#36)
  AUTONOMOUS_SDLC_COMPLETION.md
Due: none

refactor(core): improve advanced_scaling.py with code cleanup and singleton
  AUTONOMOUS_SDLC_FINAL_EXECUTION_REPORT.md
  final_comprehensive_validation_report.json
  healing_guard/core/advanced_scaling.py
  healing_guard/core/cache.py
  healing_guard/core/failure_detector.py
  healing_guard/i18n/__init__.py
  healing_guard/security/scanner.py
  healing_guard/security/validator.py
  pyproject.toml
Due: validate-config, security-policy

refactor(core): improve advanced_scaling.py with code cleanup and singleton (#37)
  AUTONOMOUS_SDLC_FINAL_EXECUTION_REPORT.md
  final_comprehensive_validation_report.json
  healing_guard/core/advanced_scaling.py
  healing_guard/core/cache.py
  healing_guard/core/failure_detector.py
  healing_guard/i18n/__init__.py
  healing_guard/security/scanner.py
  healing_guard/security/validator.py
  pyproject.toml
Due: validate-config, security-policy

feat(autonomous-healing): add comprehensive autonomous SDLC with robust and scalable healing
  FINAL_AUTONOMOUS_SDLC_REPORT.md
  autonomous_quality_gates.py
  demo_results.json
  demo_robust.py
  demo_robust_results.json
  demo_scalable.py
  demo_scalable_results.json
  demo_simple.py
  global_compliance_audit.json
  global_compliance_system.py
  global_deployment_manifest.json
  quality_gates_report.json
Due: none

feat(autonomous-healing): add comprehensive autonomous SDLC with robust and scalable healing (#38)
  FINAL_AUTONOMOUS_SDLC_REPORT.md
  autonomous_quality_gates.py
  demo_results.json
  demo_robust.py
  demo_robust_results.json
  demo_scalable.py
  demo_scalable_results.json
  demo_simple.py
  global_compliance_audit.json
  global_compliance_system.py
  global_deployment_manifest.json
  quality_gates_report.json
Due: none

feat(autonomous-sdlc): add final execution report, security scan, and translations
  AUTONOMOUS_SDLC_FINAL_EXECUTION_REPORT.md
  security_scan.json
  translations/en.json
Due: none

feat(autonomous-sdlc): add final execution report, security scan, and translations (#39)
  AUTONOMOUS_SDLC_FINAL_EXECUTION_REPORT.md
  security_scan.json
  translations/en.json
Due: none

fix(quality_gates): update quality gates report and compliance audit data
  demo_results.json
  demo_robust_results.json
  demo_scalable_results.json
  global_compliance_audit.json
  global_deployment_manifest.json
  quality_gates_report.json
Due: none

fix(quality_gates): update quality gates report and compliance audit data (#40)
  demo_results.json
  demo_robust_results.json
  demo_scalable_results.json
  global_compliance_audit.json
  global_deployment_manifest.json
  quality_gates_report.json
Due: none

fix(reports): update audit and quality gate reports with latest data
  demo_results.json
  demo_robust_results.json
  demo_scalable_results.json
  global_compliance_audit.json
  global_deployment_manifest.json
  quality_gates_report.json
Due: none

fix(reports): update audit and quality gate reports with latest data (#48)
  demo_results.json
  demo_robust_results.json
  demo_scalable_results.json
  global_compliance_audit.json
  global_deployment_manifest.json
  quality_gates_report.json
Due: none

feat(api): add comprehensive Healing Guard API with real-time dashboard
  API_DOCUMENTATION.md
  AUTONOMOUS_SDLC_EXECUTION_REPORT.md
  Dockerfile.production
  IMPLEMENTATION_GUIDE.md
  QUALITY_VALIDATION_REPORT.md
  docker-compose.production.yml
  healing_guard/ai/__init__.py
  healing_guard/ai/predictive_prevention.py
  healing_guard/api/realtime_dashboard.py
  healing_guard/compliance/__init__.py
  healing_guard/compliance/advanced_audit.py
  healing_guard/distributed/__init__.py
  healing_guard/distributed/cluster_coordination.py
  healing_guard/ml/__init__.py
  healing_guard/ml/failure_pattern_recognition.py
  healing_guard/security/enterprise_security.py
  healing_guard/tenancy/__init__.py
  healing_guard/tenancy/multi_tenant.py
  k8s/production/configmap.yaml
  k8s/production/deployment.yaml
  k8s/production/namespace.yaml
  quality_validation.py
  quality_validation_report.json
  scripts/production-deploy.sh
Due: security-policy

feat(api): add comprehensive Healing Guard API with real-time dashboard (#49)
  API_DOCUMENTATION.md
  AUTONOMOUS_SDLC_EXECUTION_REPORT.md
  Dockerfile.production
  IMPLEMENTATION_GUIDE.md
  QUALITY_VALIDATION_REPORT.md
  docker-compose.production.yml
  healing_guard/ai/__init__.py
  healing_guard/ai/predictive_prevention.py
  healing_guard/api/realtime_dashboard.py
  healing_guard/compliance/__init__.py
  healing_guard/compliance/advanced_audit.py
  healing_guard/distributed/__init__.py
  healing_guard/distributed/cluster_coordination.py
  healing_guard/ml/__init__.py
  healing_guard/ml/failure_pattern_recognition.py
  healing_guard/security/enterprise_security.py
  healing_guard/tenancy/__init__.py
  healing_guard/tenancy/multi_tenant.py
  k8s/production/configmap.yaml
  k8s/production/deployment.yaml
  k8s/production/namespace.yaml
  quality_validation.py
  quality_validation_report.json
  scripts/production-deploy.sh
Due: security-policy

feat: Claude OAuth-based improvements
  CLAUDE_IMPROVEMENTS.md
  IMPROVEMENT_PLAN.md
  claude_improvements_20250830_235218/.github/workflows/ci.yml
  claude_improvements_20250830_235218/IMPROVEMENT_PLAN.md
  claude_improvements_20250830_235218/context.md
  claude_improvements_20250830_235218/error-handler.js
  claude_improvements_20250830_235218/repository_structure.txt
  claude_improvements_20250830_235218/test-example.js
  context.md
  error-handler.js
  repository_structure.txt
  test-example.js
Due: none

feat: Claude OAuth-based improvements (#51)
  CLAUDE_IMPROVEMENTS.md
  IMPROVEMENT_PLAN.md
  claude_improvements_20250830_235218/.github/workflows/ci.yml
  claude_improvements_20250830_235218/IMPROVEMENT_PLAN.md
  claude_improvements_20250830_235218/context.md
  claude_improvements_20250830_235218/error-handler.js
  claude_improvements_20250830_235218/repository_structure.txt
  claude_improvements_20250830_235218/test-example.js
  context.md
  error-handler.js
  repository_structure.txt
  test-example.js
Due: none

feat: Add real working features
  server.js
Due: none
