Repository danieleschmidt/self-healing-pipeline-guard: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-build, validate-config, security-policy

docs-build:
  name: Build documentation
  entry: poetry run mkdocs build --strict
  language: system
  pass_filenames: false

validate-config:
  name: Validate configuration files
  entry: python scripts/validate_config.py
  language: system
  pass_filenames: false

security-policy:
  name: Check security policies
  entry: python scripts/check_security_policies.py
  language: system
  pass_filenames: false

feat(ci): add comprehensive CI/CD workflows and monitoring
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/pull_request_template.md
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/dependency-update.yml
  .github/workflows/security-scan.yml
  .markdownlint.json
  .releaserc.json
  .secrets.baseline
  .yamllint.yml
  Dockerfile.test
  docker-compose.test.yml
  healing_guard/monitoring/health.py
  healing_guard/monitoring/metrics.py
  scripts/dev-setup.sh
Due: security-policy

feat: complete comprehensive SDLC automation infrastructure
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/dependency-update.yml
  .github/workflows/security-scan.yml
  docs/ci-cd/github-workflows.md
  requirements.md
Due: docs-build

docs(project-charter): add comprehensive project charter for Self-Healing Pipeline Guard
  PROJECT_CHARTER.md
Due: none

docs: add CODE_OF_CONDUCT.md for SDLC compliance
  CODE_OF_CONDUCT.md
Due: none

docs: add SUPPORT.md for SDLC compliance
  SUPPORT.md
Due: none

docs: add ISSUE_TEMPLATE.md for SDLC compliance
  .github/ISSUE_TEMPLATE.md
Due: none

docs: add community and development documentation
  docs/DEVELOPMENT.md
Due: docs-build

feat: add development tooling and configuration
  package.json
Due: none

docs: add workflow requirements and issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  docs/SETUP_REQUIRED.md
  docs/workflows/README.md
Due: docs-build

docs: add SDLC implementation status documentation
  SDLC_STATUS.md
Due: none

feat: implement advanced SDLC maturity enhancements
  MATURITY_ASSESSMENT.md
  docs/compliance/GOVERNANCE.md
  docs/compliance/REGULATORY_COMPLIANCE.md
  docs/innovation/AI_INTEGRATION.md
  docs/operations/PERFORMANCE_OPTIMIZATION.md
  scripts/advanced-security-audit.sh
Due: docs-build

feat: implement advanced SDLC optimization enhancements for 95% maturity
  .github/dependabot.yml
  config/promtail.yml
  docker-compose.monitoring.yml
  docs/operations/DISASTER_RECOVERY.md
  docs/operations/MONITORING_SETUP.md
Due: docs-build

feat: complete autonomous SDLC optimization for advanced repository
  AUTONOMOUS_SDLC_SUMMARY.md
  docs/ci-cd/IMPLEMENTATION_GUIDE.md
Due: docs-build

feat(ci): add comprehensive GitHub Actions workflows for CI, release, and security
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
Due: none

feat: complete advanced SDLC optimization with industry leadership framework
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .vscode/settings.json
  docs/ci-cd/WORKFLOWS_IMPLEMENTATION.md
  docs/ci-cd/WORKFLOW_TEMPLATES.md
  docs/innovation/ADVANCED_OPTIMIZATION.md
  docs/innovation/INDUSTRY_LEADERSHIP.md
Due: docs-build

feat: implement comprehensive autonomous SDLC with perpetual value discovery
  .terragon/AUTONOMOUS_IMPLEMENTATION_SUMMARY.md
  .terragon/autonomous_executor.py
  .terragon/backlog.json
  .terragon/config.yaml
  .terragon/continuous_value_loop.sh
  .terragon/loop_metrics.json
  .terragon/value_discovery.py
  BACKLOG.md
  poetry.lock
Due: none

feat: optimize autonomous SDLC thresholds for continuous operation
  .terragon/backlog.json
  .terragon/config.yaml
Due: none

feat: autonomous execution - implement comprehensive GitHub Actions workflows
  .terragon/backlog.json
  .terragon/execution_log.json
  BACKLOG.md
  docs/workflows/GITHUB_ACTIONS_IMPLEMENTATION.md
Due: docs-build

docs: add comprehensive .env.example file
  .env.example
Due: validate-config

feat: setup development environment and code quality tools
  scripts/check_security_policies.py
  scripts/validate_config.py
Due: none

test: establish comprehensive testing infrastructure
  tests/fixtures/__init__.py
  tests/fixtures/pipeline_data.py
  tests/performance/locustfile.py
  tests/performance/pytest_benchmarks.py
  tests/utils/__init__.py
  tests/utils/assertions.py
  tests/utils/test_helpers.py
Due: security-policy

build: add containerization and build automation
  scripts/generate_sbom.py
  scripts/update_version.py
Due: none

ops: add monitoring and observability configuration
  docs/monitoring/alerting_strategy.md
  docs/monitoring/health_checks.md
  docs/operations/incident_response.md
Due: docs-build

chore: add empty git diff placeholder
  .github/workflows/ci-cd.yml
Due: none

feat(sentiment-analysis): add sentiment analysis system with API, compliance, and healing integration
  docs/deployment/sentiment-analysis-deployment.md
  docs/features/sentiment-analysis.md
  healing_guard/__init__.py
  healing_guard/api/main.py
  healing_guard/api/routes.py
  healing_guard/api/sentiment_routes.py
  healing_guard/compliance/__init__.py
  healing_guard/compliance/ccpa_compliance.py
  healing_guard/compliance/gdpr.py
  healing_guard/compliance/gdpr_compliance.py
  healing_guard/compliance/pdpa_compliance.py
  healing_guard/compliance/unified_compliance.py
  healing_guard/core/exceptions.py
  healing_guard/core/healing_engine.py
  healing_guard/core/sentiment_analyzer.py
  healing_guard/i18n/sentiment_messages.py
  healing_guard/monitoring/structured_logging.py
  healing_guard/performance/auto_scaling.py
  healing_guard/performance/cache_manager.py
  healing_guard/performance/metrics_collector.py
  healing_guard/security/input_validator.py
  healing_guard/security/scanner.py
  quality_gates_comprehensive.py
  quality_gates_report.json
  tests/integration/test_sentiment_api.py
  tests/unit/test_sentiment_analyzer.py
Due: docs-build, security-policy

feat(sentiment-analysis): add sentiment analysis system with API, compliance, and healing integration (#26)
  docs/deployment/sentiment-analysis-deployment.md
  docs/features/sentiment-analysis.md
  healing_guard/__init__.py
  healing_guard/api/main.py
  healing_guard/api/routes.py
  healing_guard/api/sentiment_routes.py
  healing_guard/compliance/__init__.py
  healing_guard/compliance/ccpa_compliance.py
  healing_guard/compliance/gdpr.py
  healing_guard/compliance/gdpr_compliance.py
  healing_guard/compliance/pdpa_compliance.py
  healing_guard/compliance/unified_compliance.py
  healing_guard/core/exceptions.py
  healing_guard/core/healing_engine.py
  healing_guard/core/sentiment_analyzer.py
  healing_guard/i18n/sentiment_messages.py
  healing_guard/monitoring/structured_logging.py
  healing_guard/performance/auto_scaling.py
  healing_guard/performance/cache_manager.py
  healing_guard/performance/metrics_collector.py
  healing_guard/security/input_validator.py
  healing_guard/security/scanner.py
  quality_gates_comprehensive.py
  quality_gates_report.json
  tests/integration/test_sentiment_api.py
  tests/unit/test_sentiment_analyzer.py
Due: docs-build, security-policy

Revert "feat(sentiment-analysis): add sentiment analysis system with API, com…"
  docs/deployment/sentiment-analysis-deployment.md
  docs/features/sentiment-analysis.md
  healing_guard/__init__.py
  healing_guard/api/main.py
  healing_guard/api/routes.py
  healing_guard/api/sentiment_routes.py
  healing_guard/compliance/__init__.py
  healing_guard/compliance/ccpa_compliance.py
  healing_guard/compliance/gdpr.py
  healing_guard/compliance/gdpr_compliance.py
  healing_guard/compliance/pdpa_compliance.py
  healing_guard/compliance/unified_compliance.py
  healing_guard/core/exceptions.py
  healing_guard/core/healing_engine.py
  healing_guard/core/sentiment_analyzer.py
  healing_guard/i18n/sentiment_messages.py
  healing_guard/monitoring/structured_logging.py
  healing_guard/performance/auto_scaling.py
  healing_guard/performance/cache_manager.py
  healing_guard/performance/metrics_collector.py
  healing_guard/security/input_validator.py
  healing_guard/security/scanner.py
  quality_gates_comprehensive.py
  quality_gates_report.json
  tests/integration/test_sentiment_api.py
  tests/unit/test_sentiment_analyzer.py
Due: docs-build, security-policy

Revert "feat(sentiment-analysis): add sentiment analysis system with API, com…" (#27)
  docs/deployment/sentiment-analysis-deployment.md
  docs/features/sentiment-analysis.md
  healing_guard/__init__.py
  healing_guard/api/main.py
  healing_guard/api/routes.py
  healing_guard/api/sentiment_routes.py
  healing_guard/compliance/__init__.py
  healing_guard/compliance/ccpa_compliance.py
  healing_guard/compliance/gdpr.py
  healing_guard/compliance/gdpr_compliance.py
  healing_guard/compliance/pdpa_compliance.py
  healing_guard/compliance/unified_compliance.py
  healing_guard/core/exceptions.py
  healing_guard/core/healing_engine.py
  healing_guard/core/sentiment_analyzer.py
  healing_guard/i18n/sentiment_messages.py
  healing_guard/monitoring/structured_logging.py
  healing_guard/performance/auto_scaling.py
  healing_guard/performance/cache_manager.py
  healing_guard/performance/metrics_collector.py
  healing_guard/security/input_validator.py
  healing_guard/security/scanner.py
  quality_gates_comprehensive.py
  quality_gates_report.json
  tests/integration/test_sentiment_api.py
  tests/unit/test_sentiment_analyzer.py
Due: docs-build, security-policy

feat(deployment): add production deployment guide and comprehensive validation
  PRODUCTION_DEPLOYMENT.md
  QUALITY_GATES_REPORT.md
  final_validation.py
  healing_guard/core/cache.py
  healing_guard/core/optimization.py
  healing_guard/core/validation.py
  healing_guard/monitoring/health.py
  healing_guard/monitoring/metrics.py
  healing_guard/monitoring/observability.py
  run_quality_gates.py
  server.py
  test_generation2.py
  test_generation3.py
Due: security-policy

feat(deployment): add production deployment guide and comprehensive validation (#28)
  PRODUCTION_DEPLOYMENT.md
  QUALITY_GATES_REPORT.md
  final_validation.py
  healing_guard/core/cache.py
  healing_guard/core/optimization.py
  healing_guard/core/validation.py
  healing_guard/monitoring/health.py
  healing_guard/monitoring/metrics.py
  healing_guard/monitoring/observability.py
  run_quality_gates.py
  server.py
  test_generation2.py
  test_generation3.py
Due: security-policy

feat(core): implement comprehensive CLI interface and essential components
  GITHUB_WORKFLOWS_IMPLEMENTATION.md
  healing_guard/cli.py
  tests/unit/test_cli.py
  tests/unit/test_models.py
Due: security-policy

feat(models): add comprehensive data models for pipeline and healing operations
  healing_guard/models/__init__.py
  healing_guard/models/healing.py
  healing_guard/models/pipeline.py
Due: security-policy

docs(implementation): complete autonomous SDLC execution documentation
  AUTONOMOUS_SDLC_EXECUTION_SUMMARY.md
Due: none

fix(config): restore production-ready pyproject.toml configuration
  pyproject.toml
Due: validate-config

feat(autonomous-sdlc): complete autonomous SDLC implementation with quantum-inspired self-healing system
  AUTONOMOUS_DEPLOYMENT_SUMMARY.md
  QUALITY_GATES_REPORT.md
  healing_guard/core/healing_engine.py
  healing_guard/core/optimization.py
  healing_guard/core/resilience.py
  healing_guard/security/__init__.py
  healing_guard/security/advanced_validator.py
  pyproject.toml
Due: validate-config, security-policy

feat(autonomous-sdlc): complete autonomous SDLC implementation with quantum-inspired self-healing system (#30)
  AUTONOMOUS_DEPLOYMENT_SUMMARY.md
  QUALITY_GATES_REPORT.md
  healing_guard/core/healing_engine.py
  healing_guard/core/optimization.py
  healing_guard/core/resilience.py
  healing_guard/security/__init__.py
  healing_guard/security/advanced_validator.py
  pyproject.toml
Due: validate-config, security-policy

Add autonomous SDLC execution with CLI, data models, and CI/CD workflows (#29)
  AUTONOMOUS_SDLC_EXECUTION_SUMMARY.md
  GITHUB_WORKFLOWS_IMPLEMENTATION.md
  healing_guard/cli.py
  healing_guard/models/__init__.py
  healing_guard/models/healing.py
  healing_guard/models/pipeline.py
  pyproject.toml
  tests/unit/test_cli.py
  tests/unit/test_models.py
Due: validate-config, security-policy

Path conditions:
  docs-build: any of: ^(docs/|mkdocs\.yml), but not: (?x)^(
    \.git/|
    \.venv/|
    venv/|
    node_modules/|
    __pycache__/|
    \.pytest_cache/|
    \.mypy_cache/|
    \.ruff_cache/|
    build/|
    dist/|
    \.eggs/|
    .*\.egg-info/|
    logs/|
    tmp/|
    temp/
)$
  validate-config: any of: ^(config/|\.env\.example|pyproject\.toml)$, but not: (?x)^(
    \.git/|
    \.venv/|
    venv/|
    node_modules/|
    __pycache__/|
    \.pytest_cache/|
    \.mypy_cache/|
    \.ruff_cache/|
    build/|
    dist/|
    \.eggs/|
    .*\.egg-info/|
    logs/|
    tmp/|
    temp/
)$
  security-policy: any of: ^(healing_guard/|tests/).*\.py$, but not: (?x)^(
    \.git/|
    \.venv/|
    venv/|
    node_modules/|
    __pycache__/|
    \.pytest_cache/|
    \.mypy_cache/|
    \.ruff_cache/|
    build/|
    dist/|
    \.eggs/|
    .*\.egg-info/|
    logs/|
    tmp/|
    temp/
)$
